{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <meta name="author" content="suhail vs">
    
    <meta name="domain" content="stackschools.com"/>
    <title>{% block title %}{% endblock %} - E-commerce</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    
      <!-- Bootstrap core CSS -->
      {% comment %} <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.css' %}"> {% endcomment %}
      <link rel="stylesheet" href="{% static 'theme.min.css' %}">
    {% block extracss %}{% endblock %}
  </head>

  <body>
    
    <div class="container mt-3">
    {% block content %}
    {% endblock %}

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>    
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>

    {% block extrajs %}
    {% endblock %}

  </body>
</html>
