<aside class="mb-6 mb-md-0 col-lg-3 col-md-4">
  <!-- <div
    id="offcanvasCategory"
    class="offcanvas-collapse w-md-50 offcanvas-lg offcanvas-start"
  > -->
  <div
    id="offcanvasCategory">
    <div class="d-lg-none offcanvas-header">
      <div class="offcanvas-title h5" id="offcanvasCategoryLabel">Filter</div>
    </div>
    <div class="ps-lg-2 pt-lg-0 d-flex flex-column offcanvas-body">
      <div class="mb-8">
        <div class="m-4">
          <form method="get" action="." id="myForm">
            <br>
            <label>Search:</label>
          <input
            placeholder="Search by product name"
            class="form-control" name="q"
            type="search" value="{{request.GET.q}}"
          />
          <label>Star:</label>
          <select class="form-control" name="star">
            <option value="" selected>Select/clear an option</option>
            <option value="4p"{% if request.GET.star == '4p' %} selected{% endif %}>Star: 4+</option>
            {% for star in stars %}
            <option value="{{star.star}}"{% if request.GET.star == star.star %} selected{% endif %}>Star: {{star.star}}({{star.c}})</option>
            {% endfor %}
          </select>

          <label>Categories:</label>
          <select class="form-control" name="category">
            <option value="" selected>Select/clear an option</option>
            {% for cat in categories %}
            <option value="{{cat.category}}"{% if request.GET.category == cat.category %} selected{% endif %}>{{cat.category}}({{cat.c}})</option>
            {% endfor %}
          </select>
          <br>
          <button type="submit" class="btn btn-primary">Search</button>
          <button class="btn btn-warning" type="button" onclick="clearForm()">Clear</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</aside>
<script>
  function clearForm() {
    $("#myForm select").val("").change();
    $("#myForm input").val("");
    $("#myForm").submit();    
  }
</script>