<aside class="mb-6 mb-md-0 col-lg-3 col-md-4">
  <div
    id="offcanvasCategory"
    class="offcanvas-collapse w-md-50 offcanvas-lg offcanvas-start"
  >
    <div class="d-lg-none offcanvas-header">
      <div class="offcanvas-title h5" id="offcanvasCategoryLabel">Filter</div>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="ps-lg-2 pt-lg-0 d-flex flex-column offcanvas-body">
      <div class="mb-8">
        <h5 class="mb-3">Search</h5>
        <div class="my-4">
          <form method="get" action=".">
          <input
            placeholder="Search by product name"
            class="form-control" name="q"
            type="search" value="{{request.GET.q}}"
          />
          <br>
          <label>Star:</label>
          <select class="form-control" name="star">
            <option{% if request.GET.star == "4.9" %} selected{% endif %}>4.9</option>
            <option{% if request.GET.star == "4.8" %} selected{% endif %}>4.8</option>
            <option{% if request.GET.star == "4.7" %} selected{% endif %}>4.7</option>
            <option{% if request.GET.star == "4.6" %} selected{% endif %}>4.6</option>
            <option{% if request.GET.star == "4.5" %} selected{% endif %}>4.5</option>
            <option{% if request.GET.star == "4.4" %} selected{% endif %}>4.4</option>
            <option{% if request.GET.star == "4.3" %} selected{% endif %}>4.3</option>
            <option{% if request.GET.star == "4.2" %} selected{% endif %}>4.2</option>
          </select>
        </form>
        </div>
      </div>
    </div>
  </div>
</aside>
