<aside class="mb-6 mb-md-0 col-lg-3 col-md-4">
  <!-- <div
    id="offcanvasCategory"
    class="offcanvas-collapse w-md-50 offcanvas-lg offcanvas-start"
  > -->
  <div
    id="offcanvasCategory">
    <div class="d-lg-none offcanvas-header">
      <div class="offcanvas-title h5" id="offcanvasCategoryLabel">Filter</div>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="ps-lg-2 pt-lg-0 d-flex flex-column offcanvas-body">
      <div class="mb-8">
        <h5 class="mb-3">Search</h5>
        <div class="my-4">
          <form method="get" action=".">
          <input
            placeholder="Search by product name"
            class="form-control" name="q"
            type="search" value="{{request.GET.q}}"
          />
          <br>
          <label>Star:</label>
          <select class="form-control" name="star">
            <option value="" selected>Select/clear an option</option>
            {% for star in stars %}
            <option value="{{star.star}}"{% if request.GET.star == star.star %} selected{% endif %}>Star: {{star.star}}({{star.c}})</option>
            {% endfor %}
          </select>

          <label>Categories:</label>
          <select class="form-control" name="category">
            <option value="" selected>Select/clear an option</option>
            {% for cat in categories %}
            <option value="{{cat.category}}"{% if request.GET.category == cat.category %} selected{% endif %}>{{cat.category}}({{cat.c}})</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary">Search</button>

        </form>
        </div>
      </div>
    </div>
  </div>
</aside>
